<header>
	<a class="homeButton" href="/"><img src="/sprite/png/Isabel.png" alt="Isabel" ></a>
	
	<nav>
		<button>
			<a href="/catalog">
				<img src="/sprite/png/SearchButton.png" alt="Search">
			</a>
		</button>
		<button>
			<a href="/cart">
				<img src="/sprite/png/CartButton.png" alt="Cart">
			</a>
		</button>
		<button>
			<a href="/">
				<img src="/sprite/png/HomeButton.png" alt="Home">
			</a>
		</button>
		<button>
			<a href="/login">
				<img src="/sprite/png/AccountButton.png" alt="Account">
			</a>
		</button>
		<button>
			<a href="/settings">
				<img src="/sprite/png/SettingsButton.png" alt="Settings">
			</a>
		</button>
	</nav>
</header>