@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap");
:root{
	--item-h: 200px;
}
*{
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
	font-size: 18px;
}
::-webkit-scrollbar{
	width: 1svw;
	max-width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb{
	height: 50px; background-color: #596066; border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover{
	background-color: rgba(89, 96, 102, .7);
}
::-webkit-scrollbar-corner{
	background-color: #06070d1c;
}
::-webkit-resizer{
	background-color: #596066;
}
.homeButton{
	height: 100%;
	background: none;
	border: none;
}
header, nav, section{
	background-color: white;
}
section{
	padding: 0 10px;
	margin-bottom: 5px;
}
header, .sectionContent{
	display: inline-flex;
	align-items: center;
	justify-content: start;
}
.sectionName{
	margin-top: 5px;
}
.sectionContent{
	overflow: hidden;
	overflow-x: scroll;
	padding: 5px 0;
}
.item{
	height: var(--item-h);
	min-width: calc(var(--item-h) * 2/3);
	margin-right: 10px;
	background-color: rgba(203, 220, 226, 0.7);
}
.item:last-child{
	margin-right: 0px;
}
.item > img{
	height: 60%;
	width: 90%;
	background-color:chocolate;
}