footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 42px;
	width: 100%;
	margin: 20px 0 calc(56px + 0.5svw);
	padding: 0 10px;
	box-shadow: 0 10px 10px #8f9cd4;
	background-color: white;
}
@media (min-width: 768px){
	footer{
		border-radius: 5px 5px 0 0;
		margin: 20px 0;
	}
}