nav{
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	left: 0.5svw;
	bottom: 0.5svw;
	height: 36px;
	width: 99svw;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0 14px 28px #8f9cd4, 0 10px 10px #8f9cd4;
	background-color: white;
}
nav > button{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25svw;
	height: inherit;
	max-height: 100%;
	border: none;
	background: none;
}
nav > button > img{
	align-self: center;
	max-height: 45%;
}
@media (min-width: 768px) {
	nav{
		max-width: 330px;
		display: flex;
		position: relative;
		border-radius: 0;
		box-shadow: none;
		background: none;
		left: 0;
		bottom: 0;
		overflow: hidden;
	}
	nav > button{
		width: 25%;
	}
	nav > button > img{
		max-height: 63%;
	}
}